{% extends 'base/home.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
{% if messages %}
<ul class="messages">
    {% for Q in messages %}
    <li{% if Q.tags %} class="{{Q.tags}}" {% endif %}> {{Q}} </li>
        {% endfor %}
</ul>
{% endif %}
<br>
<h5>welcome {{user}}</h5>
<div class="form1">
    <form action="" method="POST">
        {% csrf_token %}
        {{search|crispy}}
        <br>
        <input type="submit" value="Search">

    </form>

</div>

<br>
{% for i in contact %}
<a href="{% url 'view' i.id %}">
<div class="form1">
    Full Name: {{i.full_name}}
    <br>
    Phone Number: {{i.tel}}
    <br>
    Gender: {{i.sex}}



    
        <a href="{% url 'edit' i.id %}">Edit</a>
        /
        <a href="{% url 'delete' i.id %}">delete</a>
    </div>

    <div class="date">

        last updated on {{i.date_updated}} by {{user}}
    </div>


</a>
<br>
{% endfor %}

{% else %}
<br>
<h3>this is a webpage for a dental clinic
</h3>

{% endif %}

{% endblock %}