{% extends 'base/home.html' %}
{% block title %}
Login
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<br>
<div class="form">
  {% if not user.is_authenticated %}
  {% if form.errors %}
      <p>your username and password doesn't match</p>
      {% endif %}
  
      {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page.To
          procced, Please login with an account that has access.
      </p>
      {% else %}
      <p>Please login to see this page</p>
      {% endif %}
      {% endif %}
    <br>
    <form action="" method="POST">
      {% csrf_token %}
        <div class="form-group">
          <label for="text">Username</label>
          <input type="text" name="username" class="form-control" id="username" placeholder="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" id="password1" placeholder="Your password...">
        </div>
        <br>
        <input type="submit" value="Login">
        
      </form>
   
</div>

{% else %}
<br>
<div class="form1">
    You can not access this page while logged in
</div>

 

{% endif %}
{% endblock %}